* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 169.432%;
}




body {
  background-color: #2A2C2F;
  color: #FFF;
  font-family: Inter;
}

.container__header {
  min-width: 1184px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  padding: 30px 0 48px 0;
}

.main-logo {
  width: 176.575px;
}

.change_lang {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.change_lang a {
  font-size: 24px;
}

#Ru {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.container__main {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container__main > article {
  max-width: 984px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  text-align: center;
  font-size: 96px;
  line-height: 96.818%;
  width: 782px;
  margin-bottom: 48px;
}

.subtitle {
  width: 583px;
  margin-bottom: 78px;
  text-align: center;
  font-size: 30px;
}

.title_signature {
  align-self: flex-start;
  padding-top: 11px;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h3 {
  margin: 80px 0 45px 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 108.92%;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 157.33%; /* 37.759px */
}

.info h5 {
  margin-bottom: 35px;
}

.info_container {
  display: flex;
  flex-direction: row;
}

.info_content {
  width: 683px;
  font-size: 14px;
  margin-bottom: 35px;
}

.info_author {
  display: flex;
  flex-direction: column;
  width: 283px;
  margin-left: 18px;
  font-size: 10px;
  font-weight: 400;
  line-height: 157.33%;
}

.info span {
  font-weight: 700;
}

.info_stats {
  font-size: 13px;
  line-height: 157.33%;
  margin-bottom: 92px;
}

.galery {
  min-width: 1184px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 92px;
}

.photo {
  width: 284px; 
}

.object {
  display: flex ;
  gap: 60px 40px;
  max-width: 984px;
  flex-wrap: wrap;
  margin-bottom: 72px;
}

h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: 90.767%; 
}

.object h2 {
  width: 457px;
}

.link-obj {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.link-obj p {
  color: #AAA;
  font-size: 12px;
  font-weight: 400;
  line-height: 20.332px ;
  letter-spacing: 2.4px;
}

.link-obj a {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.img-obj {
  width: 460px;
}

.object .description {
  width: 484px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  gap: 36px;
}

.object p {
  line-height: 158%;
}

.objects {
  display: flex;
  flex-direction: column;
}

.media_content {
  min-width: 1184px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media_content h2 {
  text-align: center;
  line-height: 108.92%;
  margin:30px 0 48px 0;
  width: 800px;
}

.media_content h5 {
  text-align: center;
  line-height: 145.227%;
  margin: 0 0 72px 0;
  width: 640px;
}

.videos {
  display: flex;
  gap: 18px;
}

.video {
  width: 583px;
  height: 323px;
  border-radius: 5px;
  margin-bottom: 102px;
}

.bg-video {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

#icon_play {
  transition: opacity 0.25s ease;
  margin-bottom: 87px;
}

#icon_play:active {
  opacity: 0.5;
}

.video-title_content {
  width: 55%;
  margin: 30px 0 0 30px;
}

.video-content:nth-child(2) {
  font-size: 12px;
  letter-spacing: 3.6px;
  margin-bottom: 10px;
}

.video-content:nth-child(3) {
  font-size: 36px;
  font-weight: 900;
  line-height: 108.92%;
  margin-bottom: 14px;
}

.video-content:nth-child(4) {
  font-size: 14px;
  line-height: 108.92%;
}

.recommended {
  min-width: 1184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px;
}

.recommended h2 {
  margin-bottom: 48px;
}

.recommended h5 {
  margin-bottom: 72px;
}

.recomm_photos {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.recomm_photo {
  width: 284px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 18px;
}

.recomm_photo:nth-child(1) {
  background-image: url(/img/recomm_photo/photo1.png);
}

.recomm_photo:nth-child(2) {
  background-image: url(/img/recomm_photo/photo2.png);
}

.recomm_photo:nth-child(3) {
  background-image: url(/img/recomm_photo/photo3.png);
}

.recomm_photo:nth-child(4) {
  background-image: url(/img/recomm_photo/photo4.png);
}

.photo-content:nth-child(1) {
  font-size: 27px;
  font-weight: 900;
  line-height: 108.92%;
}

.photo-content:nth-child(2) {
  font-size: 14px;
  line-height: 145.227%;
}

.bg-photo {
  position: absolute;
  opacity: 0.5;
}